<?xml version='1.0' encoding='utf-8'?>
<widget id="edu.cornell.stepstep" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>StepStep</name>
    <description>
    </description>
    <content src="index.html" />
    <access origin="*" />
    
    <!-- Do not auto hide splash on iOS -->
    <preference name="AutoHideSplashScreen" value="false" />
    <preference name="SplashScreenDelay" value="10000" />
    
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:splash src="Default@2x~iphone.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="Default@3x~iphone.png" gap:platform="ios" width="1242" height="2208" />
    <preference name="DisallowOverscroll" value="true" />
    
</widget>
