@font-face {
    font-family: AvenirNext;
    src: url("Avenir Next.ttc");
}

body {
    font-family: "Avenir Next", Roboto !important;
    -webkit-user-select: none;
    font-weight: 100;
}

#step-button { 
    width: 50%;
    margin: 1rem 25% 2rem 25%;
    display: inline-block;
}

.tapped {
    -webkit-animation: bounce .55s;
}

@-webkit-keyframes bounce {
  0% { -webkit-transform: scale(1.0); opacity: 1 }
  40% { -webkit-transform: scale(1.2); opacity: 1; }
  60% { -webkit-transform: scale(0.90); opacity: 1 }
  80% { -webkit-transform: scale(0.95); }
  100% { -webkit-transform: scale(1); }
}
#save-game, #reset-game { width: 49%; height: 20px; }

.tpl { display: none }
li.upgrade.locked { display: none }
li.achievement.locked { display: none }

#stepstep-count {
    font-size: 60pt;
    font-weight: 100;
    text-align: center;
    margin: 2rem 0 0 0;
    letter-spacing: -4pt;
    text-shadow: none !important;
    color: white;
}

#stepstep-label {
    text-align: center;
    font-weight: 400;
    margin: -.7rem 0;
    letter-spacing: 4pt;
    text-shadow: none !important;
    color: white;
}

#home {
    background: url(images/sky-blurred.jpg);
    background-repeat: no-repeat !important;
    background-size: cover;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

#background {
    /*-webkit-filter: blur(10px);*/
    
}

#ssps {
    text-shadow: none;
    color: white;
}

p {
    text-shadow: none;
    color: white;
}




#stepstepstep {
    margin: 1rem 0 0 0;
    text-align: center;
}

#stepstepsecond {
    margin: 0 0 1rem 0;
    text-align: center;
}



#upgrades-text {
    font-size: 14px;
    margin: 0;
    color: gray;
    mix-blend-mode: normal;
}


#upgrades-list {
    width: 95%;
    margin: 0 2.5% 1rem 2.5%;
    border: none;
}

#upgrades-list li {
    background-color: rgba(255, 255, 255, 0.5);
    text-shadow: none;
    font-weight: 400;
    border: none;
    mix-blend-mode: normal;
}


.ui-button-active {
    background-image: none !important;
    background-color: black !important;
}

.ui-btn {
    color: #535353 !important;
}

#achievements-list li {
    background-color: rgba(255, 255, 255, 0.4);
    text-shadow: none;
    font-weight: 400;
    border: none;
    color: gray;
    mix-blend-mode: normal;
}

#achievements-list {
    width: 95%;
    margin: 0 2.5% 3rem 2.5%;
}


.description {
    color: black;
    font-weight: 200 !important;
    margin: .1rem 0 .2rem 0 !important;
}

.upgrade a {
    background-color: rgba(255,255,255,0.7) !important;
    font-family: "Avenir Next" !important;
    font-weight: 400 !important;
    border: none !important;
    border-bottom: 1 solid rgba(0,0,0,0.1) !important;
}

.upgrade a:hover {
    background-color: rgba(255,255,255,0.6) !important;
}

.name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 10pt;
    letter-spacing: 2pt;
}

.cost {
    font-weight: 400;
}

.count {
    background-color: rgba(255,255,255,0)!important;
    font-weight: 400 !important;
}

.achievement {
    background-color: rgba(255,255,255,.9) !important;
    border: none !important;
    border-bottom: 1 solid rgba(0,0,0,0.1) !important;
}


#content {
}
