<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
           id="org.apache.cordova.device-motion"
      version="0.2.10">
	<platform name="android">
	    <config-file target="config.xml" parent="/*">
	        <feature name="Pedometer">
	            <param name="android-package" value="edu.cornell.stepometer.Stepometer"/>
	        </feature>
	    </config-file>
	</platform>
</plugin>